<html>
<head>
  <title>Friends</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
 <h1>Edit a friend's info!</h1>
  {% for friend in friends: %}
    <hr>
  <form action="/update/{{ friend['id'] }}" method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name" placeholder="{{ friend['first_name'] }}"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name" placeholder="{{ friend['last_name'] }}"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation" placeholder="{{ friend['occupation'] }}"></label>
    <input type="submit" value="Update">
  </form>
{% endfor %}
</body>
</html>