<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	{{all_friends}}
<h1>People!</h1>
<!-- with all the data we can then construct a more structured output -->
{% for friend in all_friends: %}
	<p>ID: {{ friend['id'] }}</p>
	<p>First Name: {{ friend['first_name'] }}</p>
	<p>Last Name: {{ friend['last_name'] }}</p>
	<p>Occupation: {{ friend['occupation'] }}</p>
	<form role="form" action="/edit/{{ friend['id'] }}" method='POST'>
	<input type="hidden" name="edit">
	<button type="submit" class="btn btn-default">Edit</button>
	</form>
	<form role="form" action="/delete/{{ friend['id'] }}">
	<input type="hidden" name="delete">
	<button type="submit" class="btn btn-default">Delete</button>
	</form>
   <hr>
  {% endfor %}
	<h2>Add a Person</h2>
	<form action='/friends' method='POST'>
		<label for='first_name'>First Name: <input type="text" name="first_name" id="first_name"></label>
		<label for='last_name'>Last Name: <input type="text" name="last_name" id="last_name"></label>
		<label for='occupation'>Occupation: <input type="text" name="occupation" id="occupation"></label>
		<input type="submit" value="Add">
	</form>
</body>
</html>